<!-- <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4">
            <form id="form_register" [formGroup]="registerForm"   (ngSubmit)="submit()">


                <div class="form-outline mb-4">
                    <label class="form-label" for="email"> Email address</label>
                    <input type="email" class="form-control form-control-lg" placeholder="Enter a valid email address"
                        formControlName="email" />
                    <p class="text-danger" *ngIf="inputsValidos('email','required')=='is-invalid'"><strong>Email
                            requerido</strong></p>
                    <p class="text-danger" *ngIf="inputsValidos('email','email')=='is-invalid'"><strong> Formato
                            incorrecto</strong></p>
                    <div id="emailerror"></div>
                </div>


                <div class="form-outline mb-3">
                    <label class="form-label" id="passwordLabel" for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control form-control-lg"
                        placeholder="Enter password" formControlName="password" />

                </div>
                <div class="form-outline mb-3">
                    <label class="form-label" for="password2">Password</label>
                    <input type="password" name="password2" formControlName="password2" id="password2"
                        class="form-control form-control-lg" placeholder="Enter password" />
                    <p *ngIf="passwordError">Las contraseñas deben ser iguales </p>
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>

                </div>
            </form>
        </div>
    </div>
</div> -->

<section class="vh-100 bg-image"
  style="background-image: url('https://wallpaperaccess.com/full/340434.png');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Crear una cuenta</h2>

              <form  [formGroup]="registerForm"   (ngSubmit)="submit()">

        

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" formControlName="email" />
                  <label class="form-label" for="form3Example3cg">Tu Email</label>
                  <p class="text-danger" *ngIf="inputsValidos('email','required')=='is-invalid'"><strong>Email
                    requerido</strong></p>
            <p class="text-danger" *ngIf="inputsValidos('email','email')=='is-invalid'"><strong> Formato
                    incorrecto</strong></p>
            <div id="emailerror"></div>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" formControlName="password"  />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" formControlName="password2"/>
                  <label class="form-label" for="form3Example4cdg"  >Repite tu password</label>
                  <p *ngIf="passwordError" class="text-danger">Las contraseñas deben ser iguales </p>

                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>

                </div>
            

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
